In [10]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS

In [11]:
#Number of pages of results

pgs_2016 = 154
pgs_2017 = 147
pgs_2018 = 85
pgs_2019 = 113
pgs_half_2016 = 898
pgs_half_2017 = 892
pgs_half_2018 = 598
pgs_half_2019 = 690

In [12]:
#Base URLs for each race results page

urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

#### Create an empty dataframe for each year

In [44]:
marathon2019_df = pd.DataFrame()

The steps to get a DataFrame from one page of results look like this:
- Build a URL by combining the base url with a specific page number
- Use requests.post() to get the results of the post
- Make a soup from results.text
- Look at the soup to identify the table you want based on one of its attributes (like class) 
- Pass the table as a string to pandas read_html() 
- What does that look like? What is the datatype?
- Keep working with the data until you have it a DataFrame

In [35]:
base = urlbase_2019
page = 99
url = base + str(page)
print(url)

https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=99

In [15]:
response = requests.post(url)
print(type(response))
soup = BS(response.text, 'lxml')
print(type(soup))

<class 'requests.models.Response'>
<class 'bs4.BeautifulSoup'>

In [17]:
tables = soup.find_all('table', 
                           attrs = {'class': 'table table-responsive table-bordered'})

In [30]:
type(tables)

bs4.element.ResultSet

In [31]:
len(tables)

3

In [51]:
results_list = pd.read_html(str(tables[0]))

In [52]:
len(results_list)

1

In [49]:
results_list

[    Overall    Bib                        Name      Time
 0     99999  32379               Raquel Flores  00:00:00
 1     99999  30292               Kyle Domingos  00:00:00
 2     99999  32850                Paul Dillard  00:00:00
 3     99999  31415              Nicole Bennett  00:00:00
 4     99999  32995                  Rudy Novak  00:00:00
 5     99999  30567                   Sean Dail  00:00:00
 6     99999  32173             Candice Gearman  00:00:00
 7     99999  32499              Santosh Mishra  00:00:00
 8     99999  31930              Jennifer Myers  00:00:00
 9     99999  30220                 Ashlie Tuck  00:00:00
 10    99999  32906               Helene Halsey  00:00:00
 11    99999  31854                  Ben Kinsey  00:00:00
 12    99999  32006                 Emily Smith  00:00:00
 13    99999  33002                 Penny Spain  00:00:00
 14    99999  32070              Stefani Weston  00:00:00
 15    99999  32223                 Erin Powers  00:00:00
 16    99999  32660             Ashley Fiorilli  00:00:00
 17    99999  32081                Amberle Wood  00:00:00
 18    99999  31030            Bradley Heitkamp  00:00:00
 19    99999  33030            Rosangela Mattos  00:00:00
 20    99999  31544               Mckenna Bagan  00:00:00
 21    99999  30037                Dylan Thayer  00:00:00
 22    99999  31705               Ellen Cabahug  00:00:00
 23    99999  30731  Guillaume-Hamilcar Journel  00:00:00
 24    99999  32862               Lisa Robinson  00:00:00]

In [39]:
df = results_list[0]

In [40]:
df

    Overall    Bib                        Name      Time
0     99999  32379               Raquel Flores  00:00:00
1     99999  30292               Kyle Domingos  00:00:00
2     99999  32850                Paul Dillard  00:00:00
3     99999  31415              Nicole Bennett  00:00:00
4     99999  32995                  Rudy Novak  00:00:00
5     99999  30567                   Sean Dail  00:00:00
6     99999  32173             Candice Gearman  00:00:00
7     99999  32499              Santosh Mishra  00:00:00
8     99999  31930              Jennifer Myers  00:00:00
9     99999  30220                 Ashlie Tuck  00:00:00
10    99999  32906               Helene Halsey  00:00:00
11    99999  31854                  Ben Kinsey  00:00:00
12    99999  32006                 Emily Smith  00:00:00
13    99999  33002                 Penny Spain  00:00:00
14    99999  32070              Stefani Weston  00:00:00
15    99999  32223                 Erin Powers  00:00:00
16    99999  32660             Ashley Fiorilli  00:00:00
17    99999  32081                Amberle Wood  00:00:00
18    99999  31030            Bradley Heitkamp  00:00:00
19    99999  33030            Rosangela Mattos  00:00:00
20    99999  31544               Mckenna Bagan  00:00:00
21    99999  30037                Dylan Thayer  00:00:00
22    99999  31705               Ellen Cabahug  00:00:00
23    99999  30731  Guillaume-Hamilcar Journel  00:00:00
24    99999  32862               Lisa Robinson  00:00:00

In [43]:
%who

BS	 BeautifulSoup	 base	 bs	 df	 page	 pd	 pgs_2016	 pgs_2017
pgs_2018	 pgs_2019	 pgs_half_2016	 pgs_half_2017	 pgs_half_2018	 pgs_half_2019	 requests	 response	 results_list
results_lists	 soup	 tables	 url	 urlbase_2016	 urlbase_2017	 urlbase_2018	 urlbase_2019	 urlbase_half_2016
urlbase_half_2017	 urlbase_half_2018	 urlbase_half_2019

In [55]:
marathon2019_df = marathon2019_df.append(results_list)

In [56]:
marathon2019_df

    Overall    Bib                        Name      Time
0     99999  32379               Raquel Flores  00:00:00
1     99999  30292               Kyle Domingos  00:00:00
2     99999  32850                Paul Dillard  00:00:00
3     99999  31415              Nicole Bennett  00:00:00
4     99999  32995                  Rudy Novak  00:00:00
5     99999  30567                   Sean Dail  00:00:00
6     99999  32173             Candice Gearman  00:00:00
7     99999  32499              Santosh Mishra  00:00:00
8     99999  31930              Jennifer Myers  00:00:00
9     99999  30220                 Ashlie Tuck  00:00:00
10    99999  32906               Helene Halsey  00:00:00
11    99999  31854                  Ben Kinsey  00:00:00
12    99999  32006                 Emily Smith  00:00:00
13    99999  33002                 Penny Spain  00:00:00
14    99999  32070              Stefani Weston  00:00:00
15    99999  32223                 Erin Powers  00:00:00
16    99999  32660             Ashley Fiorilli  00:00:00
17    99999  32081                Amberle Wood  00:00:00
18    99999  31030            Bradley Heitkamp  00:00:00
19    99999  33030            Rosangela Mattos  00:00:00
20    99999  31544               Mckenna Bagan  00:00:00
21    99999  30037                Dylan Thayer  00:00:00
22    99999  31705               Ellen Cabahug  00:00:00
23    99999  30731  Guillaume-Hamilcar Journel  00:00:00
24    99999  32862               Lisa Robinson  00:00:00
0     99999  32379               Raquel Flores  00:00:00
1     99999  30292               Kyle Domingos  00:00:00
2     99999  32850                Paul Dillard  00:00:00
3     99999  31415              Nicole Bennett  00:00:00
4     99999  32995                  Rudy Novak  00:00:00
5     99999  30567                   Sean Dail  00:00:00
6     99999  32173             Candice Gearman  00:00:00
7     99999  32499              Santosh Mishra  00:00:00
8     99999  31930              Jennifer Myers  00:00:00
9     99999  30220                 Ashlie Tuck  00:00:00
10    99999  32906               Helene Halsey  00:00:00
11    99999  31854                  Ben Kinsey  00:00:00
12    99999  32006                 Emily Smith  00:00:00
13    99999  33002                 Penny Spain  00:00:00
14    99999  32070              Stefani Weston  00:00:00
15    99999  32223                 Erin Powers  00:00:00
16    99999  32660             Ashley Fiorilli  00:00:00
17    99999  32081                Amberle Wood  00:00:00
18    99999  31030            Bradley Heitkamp  00:00:00
19    99999  33030            Rosangela Mattos  00:00:00
20    99999  31544               Mckenna Bagan  00:00:00
21    99999  30037                Dylan Thayer  00:00:00
22    99999  31705               Ellen Cabahug  00:00:00
23    99999  30731  Guillaume-Hamilcar Journel  00:00:00
24    99999  32862               Lisa Robinson  00:00:00